<h1>start page</h1>
<h1>welcome to co-ex</h1>
<h3>click the button below to get the latest prices for BTC and ETH crypto currencies.</h4>
<br>
<h3><%= link_to 'capture', prices_path, method: :post, class: 'btn btn-primary' %><h3>
<br /><br />
<% unless @btc.nil? %>
  latest BTC data
  <table>
    <tr>
      <td>ask:</td>
      <td><%= @btc.ask %></td>
    </tr>
    <tr>
      <td>bid:</td>
      <td><%= @btc.bid %></td>
    </tr>
    <tr>
      <td>last:</td>
      <td><%= @btc.last %><br></td>
    </tr>
  </table>
<% end %>
<br /><br />
<% unless @eth.nil? %>
  latest BTC data
  <table>
    <tr>
      <td>ask:</td>
      <td><%= @eth.ask %></td>
    </tr>
    <tr>
      <td>bid:</td>
      <td><%= @eth.bid %></td>
    </tr>
    <tr>
      <td>last:</td>
      <td><%= @eth.last %><br></td>
    </tr>
  </table>
<% end %>
<br />
<br />
<h3><%= link_to 'view all data for BTC', prices_path(currency: 'BTCAUD'), class: 'btn btn-primary' %><h3>
<h3><%= link_to 'view all data for ETH', prices_path(currency: 'ETHAUD'), class: 'btn btn-primary' %><h3>
